body {
    margin: 0px;
    font-family: "Open Sans", Arial, sans-serif;
    color: #666;
    background-color: bisque;
    font-size: 14px;
    font-weight: 500
}

h1,h2,h3,h4,h5,h6 {
    color: #333;
    font-weight: 500;
    line-height: 1em;
}

@font-face {
    font-family: 'MyCustomFont';
    src: url('fonts/satisfy/Satisfy-Regular.ttf') format('woff2');
}

nav {
    background-color: transparent;
    position: fixed;
    height: 85px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.09);
    z-index: 1;
}

.nav-links {
    font-size: 18px;
    font-weight: 550;
    padding: 35px 325px;

}

nav a {
    color: white;
    text-decoration: none;
    padding: 30px 15px;
    text-align: center;
}


.styled_select {
    font-size: 18px;
    font-weight: 600;
    color: white;
    width: 100px;
    border: none;
    background: transparent;
}

.styled_select option {
    color: white;
    background-color: black;
}


.nav-links a:focus {
    color: #e06464;
}


/* hero section */

.bg_banner1 img {
    height: 100%;
    width: 100%;
    position: relative;
}


/* article section1 */

.article-container {
    height: 780px;
    display: flex;
    background-image: url('./assets/Thancos-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.article-portion1 {
    margin: 100px 50px;
}

.article-portion1 img {
    margin: 0px 310px;
    width: 42px;
    height: 45px;
}

.article-title1 {
    margin: 0px 300px;
    color: #A50018;
    font-family: 'MyCustomFont', cursive;
    font-size: 24px;
}

.article-container-p1 {
    color: white;
    font-family: 'MyCustomFont', cursive;
    font-size: 22px;
    text-align: justify;
    margin: 0px 170px;
}

.article-portion2 {
    margin: 100px 200px;
}

.article-portion2 img {
    margin: 0px 150px;
    width: 42px;
    height: 50px;
}

.article-title2 {
    margin: 0px 140px;
    color: #A50018;
    font-family: 'MyCustomFont', cursive;
    font-size: 24px;
}

.article-container-p2 {
    color: white;
    font-family: 'MyCustomFont', cursive;
    font-size: 22px;
    text-align: justify;
    margin: 0px 10px;
}

.article-image3 {
    height: 140px;
    width: 600px;
    position: relative;
    top: 540px;
    right: 400px;

}

/* article section2 */

.article-container2 {
    display: flex;
    background-image: url('./assets/Thancos-Flav-bg.jpg');
    height: 484px;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 150px;
}

.article-item {
    text-align: center;
    color: white;
}


#img1 {
    height: 560px;
    width: 325px;
    position: relative;
    top: -45px;
    left: 10px;
}

.article-title3 {
    color: #ffffff;
    font-family: 'MyCustomFont', cursive;
    font-size: 27px;
    position: relative;
    bottom: 530px;
    left: 15px
}

.article-p1 {
    color: white;
    font-family: 'MyCustomFont', cursive;
    font-size: 21px;
    text-align: justify;
    margin: -560px 70px;
    position: relative;
    left: 10px;
}

#img2 {
    height: 575px;
    width: 320px;
    position: relative;
    top: -45px;
    left: 10px;
}

.article-title4 {
    color: #ffffff;
    font-family: 'MyCustomFont', cursive;
    font-size: 26px;
    position: relative;
    bottom: 520px;
    left: 10px;
}

.article-p2 {
    color: white;
    font-family: 'MyCustomFont', cursive;
    font-size: 21px;
    text-align: justify;
    margin: -550px 10px;
    position: relative;
    left: 10px;
}

#img3 {
    height: 560px;
    width: 320px;
    position: relative;
    top: -45px;
}

.article-title5 {
    color: #ffffff;
    font-family: 'MyCustomFont', cursive;
    font-size: 25px;
    position: relative;
    bottom: 530px;
}

.article-p3 {
    color: white;
    font-family: 'MyCustomFont', cursive;
    font-size: 20px;
    text-align: justify;
    margin: -555px 80px;
    position: relative;
}


/* article section3 */

.ariticle_container3 {
    background-image: url('./assets/Thancos-1.jpg');
    height: 500px;
    margin-top: -100px;
    background-size: cover;
    background-repeat: no-repeat;
}

.ariticle_container3 h4 {
    color: #ffffff;
    font-family: 'MyCustomFont', cursive;
    font-size: 26px;
    text-align: center;
    position: relative;
    top: 20px;
}

.suggestion-form {
    width: 1040px;
    margin: 30px 215px;
}


.suggestion-form input[type="text"],
.suggestion-form input[type="email"] {
    width: 100%;
    padding: 20px;
    margin-bottom: 30px;
    border: 1px solid white;
    border-radius: 3px;
    font-size: 15px;
    color: white;
    background-color: transparent;
    outline: none;
}


.suggestion-form textarea {
    width: 100%;
    height: 100px;
    padding: 20px;
    border: 1px solid white;
    border-radius: 3px;
    font-size: 15px;
    color: white;
    background-color: transparent;
    outline: none;
}

.suggestion-form input::placeholder {
    color: white;
}

.suggestion-form textarea::placeholder {
    color: white;
    font-family: 'MyCustomFont', cursive;
}

.suggestion-form textarea {
    resize: horizontal;
}

.suggestion-form button[type="submit"] {
    width: 110px;
    height: 50px;
    padding: 12px;
    font-size: 22px;
    color: #EDf000;
    background-color: transparent;
    border: 2px solid #EDf000;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    top: 20px;
    left: 970px;
    transition: padding 0.3s ease, border-color 0.3s ease;
}

.suggestion-form button[type="submit"]::after {
    content: "›";
    font-size: 35px;
    position: absolute;
    top: 2px;
    right: 15px;
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.suggestion-form button[type="submit"]::before {
    content: "›";
    font-size: 35px;
    position: absolute;
    top: 2px;
    right: 15px;
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.suggestion-form button[type="submit"]:hover {
    padding-right: 40px;
    border-color: #FFD700;
}


.suggestion-form button[type="submit"]:hover::after {
    transform: translateX(7px);
    opacity: 1;
}

/* Main Footer section */

.footer-container {
    display: flex;
    justify-content: center;
    background-color: #222;
    height: auto;
}

.footer-content1 {
    margin: 50px 0px;
    position: relative;
    right: 100px;
}

.footer-content2 {
    margin: 60px 50px;
    position: relative;
    right: 80px;
}

.footer-image img {
    margin: 50px 0px;
    position: relative;
    left: 10px;
}

.footer-container p {
    font-family: 'MyCustomFont', cursive;
    color: white;
    font-size: 20px;
    position: relative;
    bottom: 20px;
}

.footer-title1 {

    color: #7CDA24;
    font-family: 'MyCustomFont', cursive;
    font-size: 20px;
}

.footer-title2 {
    color: #ffff;
    font-family: 'MyCustomFont', cursive;
    font-size: 20px;
    font-weight: bold;
}

.footer-image {
    margin: 20px 0px;
}

.social-media-container {
    width: auto;
    height: 70px;
    background-color: #141414;
}

.social-media-container h4 {
    margin: 0px 220px;
    position: relative;
    top: 20px;
    font-size: 21px;
    font-weight: bold;
    color: #666;
}

.facebook-icon {
    color: #141414;
    background-color: #edb059;
    border: 1px solid transparent;
    border-radius: 100%;
    font-size: 26px;
    transition: all 0.2s ease-in;
    position: relative;
    left: 1130px;
}

.facebook-icon:hover {
    background-color: #666;
}


.twitter-icon {
    color: #edb059;
    background-color: #141414;
    border: 1px solid transparent;
    border-radius: 100%;
    font-size: 25px;
    transition: all 0.3s ease-in;
    position: relative;
    left: 1160px;
}

.twitter-icon:hover {
    color: #666;
}

.google-plus-icon {
    color: #edb059;
    background-color: #141414;
    border: 1px solid transparent;
    border-radius: 100%;
    font-size: 28px;
    transition: all 0.3s ease-in;
    position: relative;
    left: 1180px;
}

.google-plus-icon:hover {
    color: #666;
}
