body {
    margin: 0px;
    font-family: "Open Sans", Arial, sans-serif;
    color: #666;
    background-color: bisque;
    font-size: 14px;
    font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
padding-bottom: 10px;
color: #333;
font-weight: 500;
line-height: 1em;
}

@font-face {
    font-family: 'MyCustomFont';
    src: url('fonts/satisfy/Satisfy-Regular.ttf') format('woff2');
  }

nav {
    background-color: transparent;
    position: fixed;
    height: 85px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.09);
    z-index: 1;
}

.nav-links {
    font-size: 18px;
    font-weight: 550;
    padding: 35px 325px;

}

nav a {
    color: white;
    text-decoration: none;
    padding: 30px 15px;
    text-align: center;
}


.styled_select {
    font-size: 18px;
    font-weight: 600;
    color: white;
    width: 100px;
    border: none;
    background: transparent;
}

.styled_select option {
    color: white;
    background-color: black;
}


.nav-links a:focus {
    color: #e06464;
}


/* hero section */

.bg_banner1 img {
    height: 100%;
    width: 100%;
    position: relative;
}


/* article section */

.article-container {
    height: 780px;
    display: flex;
    background-image: url('./assets/Thancos-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.article-portion1{
    margin: 100px 90px;
}

.article-portion1 img{
    margin: 0px 310px;
    width: 42px;
    height: 45px;
}

.article-title1{
    margin: 0px 300px;
    color: #A50018;
    font-family: 'MyCustomFont', cursive;
    font-size: 24px;
}

.article-container-p1{
    color: white;
    font-family: 'MyCustomFont', cursive;
    font-size: 22px;
    text-align: justify;
    margin: 0px 160px;
}

.article-portion2{
    margin: 100px 190px;
}

.article-portion2 img {
    margin: 0px 150px;
    width: 42px;
    height: 50px;
}

.article-title2{
    margin: 0px 140px;
    color: #A50018;
    font-family: 'MyCustomFont', cursive;
    font-size: 24px;
}

.article-container-p2 {
    color: white;
    font-family: 'MyCustomFont', cursive;
    font-size: 22px;
    text-align: justify;
    margin: 0px 0px;
}

/* main footer */

.footer-container {
    display: flex;
    justify-content: center;
    background-color: #222;
    height: 320px;
}

.footer-content1 {
    margin: 50px 0px;
    position: relative;
    right: 100px;
}

.footer-content2 {
    margin: 60px 50px;
    position: relative;
    right: 80px;
}

.footer-image img {
    margin: 50px 0px;
    position: relative;
    left: 10px;
}

.footer-container p {
    font-family: 'MyCustomFont', cursive;
    color: white;
    font-size: 20px;
    position: relative;
    bottom: 20px;
}

.footer-title1 {

    color: #7CDA24;
    font-family: 'MyCustomFont', cursive;
    font-size: 20px;
}

.footer-title2 {
    color: #ffff;
    font-family: 'MyCustomFont', cursive;
    font-size: 20px;
    font-weight: bold;
}

.footer-image {
    margin: 20px 0px;
}


.bg_banner3 img {
    height: 780px;
    width: 100%;
}

.bg_banner4 img {
    height: 500px;
    width: 100%;
}

.article-container2{
    display: flex;
    background-image:  url('./assets/Thancos-Flav-bg.jpg');
    height: 780px;
    background-size: cover;
    background-repeat: no-repeat;
}

.article-portion3{
    margin: 100px 0px;
}

.article-portion3 img{
    height: 600px;
    width: 330px;
}

.article-title3{
    color: #A50018;
    font-family: 'MyCustomFont', cursive;
    font-size: 24px;
    position: relative;
    bottom: 520px;
    left: 140px;
}

.article-container2-p1{
    color: white;
    font-family: 'MyCustomFont', cursive;
    font-size: 22px;
    text-align: justify;
    margin: 0px 150px;
    position: relative;
    bottom: 550px;
    right: 130px;
}

.article-portion4{
    margin: 100px 0px;
}

.article-portion4 img{
    height: 620px;
    width: 330px;
}

.article-title4{
    color: #A50018;
    font-family: 'MyCustomFont', cursive;
    font-size: 24px;
    position: relative;
    bottom: 520px;
    left: 140px;
}

.article-container2-p2{
    color: white;
    font-family: 'MyCustomFont', cursive;
    font-size: 22px;
    text-align: justify;
    margin: 0px 100px;
    position: relative;
    bottom: 550px;
    right: 50px;
}

.article-portion5{
    margin: 100px 0px;
}

.article-portion5 img{
    height: 600px;
    width: 330px;
}

.article-title5{
    color: #A50018;
    font-family: 'MyCustomFont', cursive;
    font-size: 24px;
    position: relative;
    bottom: 500px;
    margin: 40px 100px;
    position: relative;
    bottom: 550px;
}


.article-container2-p3{
    color: white;
    font-family: 'MyCustomFont', cursive;
    font-size: 22px;
    text-align: justify;
    margin: 0px 150px;
    position: relative;
    bottom: 550px;
    right: 110px;
}