body {
    margin: 0px;
    font-family: "Open Sans", Arial, sans-serif;
    color: #666;
    background-color: bisque;
    font-size: 14px;
    font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
    padding-bottom: 10px;
    color: #333;
    font-weight: 500;
    line-height: 1em;
}

@font-face {
    font-family: 'MyCustomFont';
    src: url('fonts/satisfy/Satisfy-Regular.ttf') format('woff2');
}

@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

nav {
    background-color: transparent;
    position: fixed;
    height: 85px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.09);
    z-index: 1;
}

.nav-links {
    font-size: 18px;
    font-weight: 550;
    padding: 35px 325px;

}

nav a {
    color: white;
    text-decoration: none;
    padding: 30px 15px;
    text-align: center;
}


.styled_select {
    font-size: 18px;
    font-weight: 600;
    color: white;
    width: 100px;
    border: none;
    background: transparent;
}

.styled_select option {
    color: white;
    background-color: black;
}


.nav-links a:focus {
    color: #e06464;
}


/* hero section */

.bg_banner1 img {
    height: 100%;
    width: 100%;
    position: relative;
}


/* article section1 */

.article-container {
    height: 780px;
    display: flex;
    background-image: url('./assets/Thancos-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.article-portion1 {
    margin: 100px 50px;
}

.article-portion1 img {
    margin: 0px 310px;
    width: 42px;
    height: 45px;
}

.article-title1 {
    margin: 0px 300px;
    color: #A50018;
    font-family: 'MyCustomFont', cursive;
    font-size: 24px;
}

.article-container-p1 {
    color: white;
    font-family: 'MyCustomFont', cursive;
    font-size: 22px;
    text-align: justify;
    margin: 0px 170px;
}

.article-portion2 {
    margin: 100px 200px;
}

.article-portion2 img {
    margin: 0px 150px;
    width: 42px;
    height: 50px;
}

.article-title2 {
    margin: 0px 140px;
    color: #A50018;
    font-family: 'MyCustomFont', cursive;
    font-size: 24px;
}

.article-container-p2 {
    color: white;
    font-family: 'MyCustomFont', cursive;
    font-size: 22px;
    text-align: justify;
    margin: 0px 10px;
}

.article-image3 {
    height: 140px;
    width: 600px;
    position: relative;
    top: 540px;
    right: 400px;

}

/* article section2 */

.article-container2 {
    display: flex;
    background-image: url('./assets/Thancos-Flav-bg.jpg');
    height: 484px;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 150px;
}

.article-item {
    text-align: center;
    color: white;
}


#img1 {
    height: 560px;
    width: 325px;
    position: relative;
    top: -45px;
    left: 10px;
}

.article-title3 {
    color: #ffffff;
    font-family: 'Satisfy', cursive;
    font-size: 27px;
    position: relative;
    bottom: 530px;
    left: 15px
}

.article-p1 {
    color: white;
    font-family: 'MyCustomFont', cursive;
    font-size: 21px;
    text-align: justify;
    margin: -560px 70px;
    position: relative;
    left: 10px;
}

#img2 {
    height: 575px;
    width: 320px;
    position: relative;
    top: -45px;
    left: 10px;
}

.article-title4 {
    color: #ffffff;
    font-family: 'Satisfy', cursive;
    font-size: 26px;
    position: relative;
    bottom: 520px;
    left: 10px;
}

.article-p2 {
    color: white;
    font-family: 'MyCustomFont', cursive;
    font-size: 21px;
    text-align: justify;
    margin: -550px 10px;
    position: relative;
    left: 10px;
}

#img3 {
    height: 560px;
    width: 320px;
    position: relative;
    top: -45px;
}

.article-title5 {
    color: #ffffff;
    font-family: 'Satisfy', cursive;
    font-size: 25px;
    position: relative;
    bottom: 530px;
}

.article-p3 {
    color: white;
    font-family: 'MyCustomFont', cursive;
    font-size: 20px;
    text-align: justify;
    margin: -555px 80px;
    position: relative;
}


/* article section3 */

.article-item3 {
    background-image: url('./assets/Thancos-1.jpg');
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
}


/* main footer */

.footer-container {
    display: flex;
    justify-content: center;
    background-color: #222;
    height: 320px;
}

.footer-content1 {
    margin: 50px 0px;
    position: relative;
    right: 100px;
}

.footer-content2 {
    margin: 60px 50px;
    position: relative;
    right: 80px;
}

.footer-image img {
    margin: 50px 0px;
    position: relative;
    left: 10px;
}

.footer-container p {
    font-family: 'MyCustomFont', cursive;
    color: white;
    font-size: 20px;
    position: relative;
    bottom: 20px;
}

.footer-title1 {

    color: #7CDA24;
    font-family: 'MyCustomFont', cursive;
    font-size: 20px;
}

.footer-title2 {
    color: #ffff;
    font-family: 'MyCustomFont', cursive;
    font-size: 20px;
    font-weight: bold;
}

.footer-image {
    margin: 20px 0px;
}